* {
    margin: 0;
    padding: 0;
}

.theme-light {
    --color-font: black;
    --color-background: rgb(189, 189, 189);
    --color-container: white;
}

.theme-dark {
    --color-font: white;
    --color-background: rgb(27, 32, 32);
    --color-container: black;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
}

.changeTheme {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 20px;
    border: 2px var(--color-font) solid;
    color: var(--color-font);
}

.changeTheme:hover {
    cursor: pointer;
}

.container {
    background-color: var(--color-container);
    border: 3px var(--color-font) solid;
    border-radius: 15px;
    height: 200px;
    padding: 20px;
    min-width: 528px;
}

.formInput, .formError, .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.result {
    margin-top: 10px;
}

.formInput > h1, .formError > h1, .formInput > span, .result > span {
    color: var(--color-font);
}

#myInput {
    background: transparent;
    border: 1px gray solid;
    border-radius: 5px;
    color: var(--color-font);
    font-size: 24px;
}

#btn {
    background-color: orange;
    width: 150px;
    height: 20px;
    border: 0px;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

#btn:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

#btn:active {
    transition: 0.1s ease-in-out;
    transform: scale(0.8, 0.8);
    background-color: rgb(126, 74, 11);
} 

.output {
    color: var(--color-font);
}

.out_links {
    padding-right: 86px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
