<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>JAUS</title>
</head>
<body>

<div class="changeTheme">
    <p>Сменить тему</p>
</div>

<div class="container">
    <div class="formInput">
        <h1>JUST ANOTHER URL SHORTENER</h1>
        <span>Enter your URL:</span>
        <input type="text" id="myInput"/>
        <button type="submit" id="btn">SHORT!!!!</button>    
    </div>
    <div class="result">
        <span id="outputText"></span>
        <div class="out_links">
            <a class="output" href=""></a>
            <span class="output"></span>
            <a class="output" href=""></a>
        </div>
    </div>
</div>

<script type="text/javascript">
    let curTheme = localStorage.getItem("theme")
    if (curTheme) { // get theme of page from localstorage
        document.documentElement.className = curTheme
    } else {
        document.documentElement.className = "theme-light"
    }
    
    const changeTheme = document.querySelector(".changeTheme")
    const input = document.getElementById("myInput")
    const btn = document.getElementById("btn")
    const out = document.querySelectorAll(".output")
    const outText = document.getElementById("outputText")
    const xhr = new XMLHttpRequest();
    xhr.onload = function() {
        console.log(`Статус: ${xhr.status}; Результат: ${xhr.response}`);
        if (xhr.status == 201 || xhr.status == 200) {
            let resultLink = JSON.parse(xhr.response)["url"]
            let startLink = input.value
            if (startLink.length >= 20) { // Shorted old link
                startLink = startLink.slice(7, 27) + "..."
            } 
            outText.textContent = `old link | short link`
            out[0].textContent = startLink
            out[1].textContent = " | "
            out[2].textContent = resultLink
            out[0].href = input.value
            out[2].href = resultLink
        } else if (xhr.status == 404) {
            window.location.href="/not_found"
        } else {
            alert("Your URL link is invalid ♿")
        }
    };
    xhr.onerror = function() {
        console.log('Error');
    };
    btn.addEventListener("click", () => { // Click to button and send POST
        xhr.open("POST", "/api/generate_short_url", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        let obj = JSON.stringify({"url" : `${input.value}`})
        xhr.send(obj);
    })
    // Change theme of page
    changeTheme.addEventListener("click", () => {
        if (curTheme == "theme-dark") {
            curTheme = "theme-light"
        } else {
            curTheme = "theme-dark"
        }
        document.documentElement.className = curTheme
        localStorage.setItem("theme", curTheme)
    })
</script>

</body>
</html>