<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>JAUS</title>
</head>
<body>
<h1>JUST ANOTHER URL SHORTENER</h1>

<form id="myForm">
    
</form>

<label for="myInput">Enter your URL: </label>
<input type="text" id="myInput"/>
<button type="submit" id="btn">SHORT!!!!</button>
<p id="output"></p>

<script type="text/javascript">
    const input = document.getElementById("myInput")
    const btn = document.getElementById("btn")
    const out = document.getElementById("output")
    const xhr = new XMLHttpRequest();
    xhr.onload = function() {
        console.log(`Статус: ${xhr.status}; Результат: ${xhr.response}`);
        if (xhr.status == 200) {
            out.textContent = `Ваша ссылка: ${xhr.response}`
        } else {
            alert("your url link is invalid")
        }
    };
    xhr.onerror = function() {
        console.log('Ошибка запроса');
    };
    btn.addEventListener("click", () => {
        xhr.open("POST", "/api/generate_short_url", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        let obj = JSON.stringify({"url" : `${input.value}`})
        xhr.send(obj);
    })
</script>

</body>
</html>